.spot-item {
    display: flex;
    flex-direction: column;

    width: 250px;
}

.spot-item img {
    height: 250px;
    width: 100%;
    border-radius: 20px;
}

.spot-info-row1 {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
}

.spot-item-link {
    text-decoration: none;
    color: black;
}
