.delete-spot-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 300px;
    padding: 10px;
    margin: 30px;

}

.delete-spot-modal button {

    height: inherit;
    margin: 4px;
    background-color: darkseagreen;
    color: white;
    border: none;
    cursor: pointer;
    border: 2px solid black;
    box-shadow: 2px 2px 2px grey;
    width: 100%;
}

.delete-spot-modal button:hover {
    background-color: 	olivedrab;
  }
