.single-spot-wrapper {
    display:flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
}

.gallery {
    display: flex;
    flex-direction: row;
    height: 500px;
    max-height: 500px;
    /* border: solid 5px; */
    border-radius: 35px;
    margin-bottom: 15px;
    justify-self: center;
}
.spot-header p {
  font-size: large;
}

.gallery-image-wrapper {
    display: flex;
    object-fit: cover;
    height: 100%;
    flex-wrap: wrap;
}

.gallery-image {
    display:flex;
    height:50%;
    width:50%;
    object-fit: cover;
    /* margin: 2px; */
}

.main-img {
    display: flex;
    width: 50%;
    height: 100%;
    /* margin: 4px; */
    object-fit: cover;
}

.single-spot-info-box {
    border-bottom: 2px black;
    display: flex;
    justify-content: space-between;
}

.name-desc-box {
    width: 55%;
}

.name-desc-box p {
    font-size: large;
}

.callout-wrapper {
    margin-top: 10px;
   border: solid 2px;
   max-width: 500px;
   width: 40%;
   display:flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
   border-radius: 6px;
   max-height: 120px;
}

.callout-wrapper button {
    width: 85%;
    height: 25px;
    margin-bottom: 5%;
    background-color: darkseagreen;
    color: white;
    border: none;
    cursor: pointer;
    border: 2px solid black;
    box-shadow: 2px 2px 2px grey;
}
.callout-wrapper button:hover {
    background-color: olivedrab;
}

.review-section button {
    width: 150px;
    height: 25px;
    margin-bottom: 10px;
    background-color: darkseagreen;
    color: white;
    border: none;
    cursor: pointer;
    border: 2px solid black;
    box-shadow: 2px 2px 2px grey;
}
.review-section button:hover {
    background-color: olivedrab;
}

.callout-row1 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-between;
    align-items: last baseline;
    width: 85%;
}

.price {
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.rating-review {
    flex-direction: row;
}

.single-spot-info-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
