.gallery {
    display: flex;
    flex-direction: row;
}

.preview-img {
    width: 50%;
}

.main-img {
    display: flex;
    max-width: 50%;
}

.spot-section {

    border-bottom: 2px black;
}


.single-spot-info-box {
    display: flex;
    justify-content: space-between;
}
