/* .star-rating{
    display: flex;
    flex-direction: row;
}

.star-rating .filled {
    color: burlywood;
}

.star-rating .empty {
    color: whitesmoke;
} */

.review-modal {
    display: flex;
    align-content: center;
    flex-direction: column;
    width: 500px;
    /* min-height: 400px; */
    margin: 50px;
    padding: 10px;
    border-radius: 10px;
  }
  .review-header{
    text-align: center;
    font-size: 26pt;
  }


  .review-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    /* margin-left: 10%;
    margin-right: 10%; */
  }

  .review-form h2 {
    margin-bottom: 20px;
    margin-left: 50px;
  }

  .review-modal textarea {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 150px;
    border-radius: 5px;
    padding: 10px;
    font-family: Montserrat;
  }

  .review-modal .star-rating {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .review-modal .star-rating .filled {
    color: burlywood;
  }

  .review-modal .star-rating .empty {
    color: lightgrey;
  }

  .review-modal button {
    padding: 4px;

    background-color: darkseagreen;
    color: white;
    border: none;
    cursor: pointer;
    border: none;
    box-shadow: 0px 0px 2px grey;
  }



  .review-modal button:hover {
    background-color: 	olivedrab;
  }
