.hidden {
    display: none
}

.nav {
    display: flex;
    justify-content: space-between;
    border-bottom: solid darkseagreen;
    padding-top: 20px;
    padding-bottom: 20px;
    border-width: 120%;
}

.left-nav {
    font-size: xx-large;
    color: darkseagreen;
}

.right-nav {
    color: darkseagreen;
}
