.login-modal {
    height: 300px;
    width: 400px;
    display: flex;
    flex-direction:column;
    align-content: center;
    border-radius: 5px;
}

.login-form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;

}

.login-modal h1{
    display: flex;
    justify-content: center;
    color: black
}

.login-form input {
    background-color: aliceblue;
    display: flex;
    padding: 4px;
    justify-content: center;
    /* width: 80%; */
    margin: 4px
}

.login-modal button {
    padding: 4px;
    margin: 4px;
    background-color: darkseagreen;
    color: white;
    border: none;
    cursor: pointer;
    border: 2px solid black;
    box-shadow: 2px 2px 2px grey;
}

.login-modal button:hover {
    background-color: 	olivedrab;
  }

.login-form button:disabled {
    border-color:  grey;
    color: grey;
    background-color: white;
    border: 2px solid black;
    box-shadow: 2px 2px 2px grey;
}
